
/* RGB */
$color1: rgba(255, 234, 208, 1); 	/* Almond */
$color2: rgba(38, 113, 174, 1); 	/* Auburn */
$color3: rgba(158, 43, 37, 1); 		/* Epalla Blue */
$color4: rgba(57, 62, 65, 1); 		/* Slate */
$color5: rgba(0, 0, 0, 1); 			/* Black.. duh */